@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Satisfy", cursive;
  font-size: 3em;
}

body {
  background: radial-gradient(
    rgb(212, 238, 230) 0%,
    rgba(0, 212, 255, 1) 50%,
    rgb(51, 124, 219) 150%
  );

  overflow: hidden;
}

main {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  background: rgb(134, 65, 167);
  color: white;
  text-align: center;

  width: 80vw;
  border: 0.5rem solid black;
}

p {
  padding: 0.5rem;
  margin: 0 10vw;
}

h1 {
  background: black;
  color: white;
  padding: 0.5rem;
}

button {
  all: unset;
  cursor: pointer;
  width: 10ch;
  padding: 0.5rem;
  margin: 0.5rem 0;
  font-size: 2em;
  border: 0.25rem solid black;
  background: rgb(221, 48, 120);
  box-shadow: 0.25rem 0.25rem 0 black;
}

#loading {
  display: none;
}

#canvas h1 {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}

.visually_hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
